# === Byggmappar ===
target/
build/
dist/
nbbuild/
nbdist/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# === Maven Wrapper ===
!.mvn/wrapper/maven-wrapper.jar

# === IDE: IntelliJ IDEA ===
.idea/
*.iws
*.iml
*.ipr

# === IDE: Spring Tool Suite (STS) ===
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# === IDE: NetBeans ===
/nbproject/private/
/.nb-gradle/

# === IDE: Visual Studio Code ===
.vscode/

# === Operativsystem ===
.DS_Store

# === Loggar & tillfälliga filer ===
*.log
*.tmp

# === Miljöfiler ===
*.env
*.swp
*.gz
