target/
.mvn/
*.log
*.jar
webshop-1.0-SNAPSHOT.jar
.env
.env.*
*.env
application-local.properties
application-local.yml
*.swp

# AWS Elastic Beanstalk
.elasticbeanstalk/app_versions/
.elasticbeanstalk/logs/

