spring:
  datasource:
    url: jdbc:mysql://localhost:3306/webshop
    username: ctrlbuy_user
    password: ctrlbuy_password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
