packages:
  yum:
    mysql: []
    mysql-server: []

commands:
  01_start_mysql:
    command: "sudo systemctl start mysqld"
    ignoreErrors: true
  02_enable_mysql:
    command: "sudo systemctl enable mysqld"
    ignoreErrors: true
  03_create_database:
    command: "mysql -u root -e 'CREATE DATABASE IF NOT EXISTS webshop;'"
    ignoreErrors: true
  04_create_user:
    command: "mysql -u root -e \"CREATE USER IF NOT EXISTS 'root'@'localhost' IDENTIFIED BY 'infoTeeeeek25@';\""
    ignoreErrors: true
  05_grant_privileges:
    command: "mysql -u root -e \"GRANT ALL PRIVILEGES ON webshop.* TO 'root'@'localhost';\""
    ignoreErrors: true
  06_flush_privileges:
    command: "mysql -u root -e 'FLUSH PRIVILEGES;'"
    ignoreErrors: true
