commands:
  01_build_jar:
    command: "mvn clean package -DskipTests"
    cwd: "/var/app/ondeck"
    
option_settings:
  aws:elasticbeanstalk:application:environment:
    SERVER_PORT: 5000
  aws:elasticbeanstalk:environment:process:default:
    Port: 5000
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /
